<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>

    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    
    <!--Produksjonsdatabase-->
    <!--<property name="connection.connection_string">Server=b7de67cb-235a-413c-a0be-68038394b7e4.sqlserver.sequelizer.com;Database=db4142;User ID=db4142;Password=PUaaRpXHurjCovME2BdBHPEbCRVdJxBoS46FmSbZNvziYQk6fY8VR4Bap7DaAU86</property>-->

    <!--Test og utviklingsdatabase-->
    <property name="connection.connection_string">Server=db002.appharbor.net;Database=db1475;User ID=db1475;Password=W4uERCegLnHD7TAdddSRMsQZeusJf8F76FNeaQjfxiQqK4toyVJwGXsCnBAvjCbL</property>
    
    <property name="show_sql">true</property>
    <property name='proxyfactory.factory_class'>NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    
  </session-factory>
</hibernate-configuration>
